/*
	Reference Styling for Scripted Aspect Ratio
*/
@media all {
  /*
  	scripted aspect ratio
  */
  section.aspect {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #ffffff), color-stop(1px, #cccccc), color-stop(30px, #ffffff), color-stop(100%, #ffffff)) repeat scroll 0 0 white;
    background: -webkit-linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 white;
    background: -moz-linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 white;
    background: -o-linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 white;
    background: linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 white;
    -webkit-box-shadow: 0 1px 3px #999999;
    -moz-box-shadow: 0 1px 3px #999999;
    box-shadow: 0 1px 3px #999999;
    border: solid 1px #333333;
    border-radius: 5px;
    display: block;
  }
  section.aspect article {
    padding: 15px;
  }
}
