section.aspect {
	background: linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 #ffffff;
	box-shadow: 0 1px 3px #999;
	border: solid 1px #333;
	border-radius: 5px;
	overflow: hidden;
	display: block;
	margin-bottom: 2em;
}

section.aspect article {
	padding: 15px;
}

section.aspect {
	box-sizing: border-box;
}

section.aspect.aspect-16x9,
section.aspect.aspect-4x3 {
	position: relative;
}

section.aspect.aspect-16x9 > *,
section.aspect.aspect-4x3 > * {
	position: absolute;
	width: 100%;
	height: 100%;
}

section.aspect.aspect-16x9 {
	padding-bottom: 56.25%;
}

section.aspect.aspect-4x3 {
	padding-bottom: 75%;
}
