/*
	Reference Styling for Scripted Aspect Ratio
*/
/* line 6, ../../src/scss/useful-aspectratio.scss */
section.aspect {
  /* START: cosmetic, safe to remove */
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMXB4IiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxcHgiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48c3RvcCBvZmZzZXQ9IjMwcHgiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=') repeat scroll 0 0 #FFFFFF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #ffffff), color-stop(1px, #cccccc), color-stop(30px, #ffffff), color-stop(100%, #ffffff)) repeat scroll 0 0 #FFFFFF;
  background: -moz-linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 #FFFFFF;
  background: -webkit-linear-gradient(center top, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 #FFFFFF;
  background: linear-gradient(to center bottom, #ffffff 0%, #ffffff 1px, #cccccc 1px, #ffffff 30px, #ffffff 100%) repeat scroll 0 0 #FFFFFF;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  border: solid 1px #333;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 2em;
  /* END: cosmetic, safe to remove */
}
/* line 15, ../../src/scss/useful-aspectratio.scss */
section.aspect article {
  padding: 15px;
}
/* line 19, ../../src/scss/useful-aspectratio.scss */
section.aspect.aspect-16x9, section.aspect.aspect-4x3 {
  position: relative;
}
/* line 22, ../../src/scss/useful-aspectratio.scss */
section.aspect.aspect-16x9 > *, section.aspect.aspect-4x3 > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 28, ../../src/scss/useful-aspectratio.scss */
section.aspect.aspect-16x9 {
  padding-bottom: 56.25%;
}
/* line 31, ../../src/scss/useful-aspectratio.scss */
section.aspect.aspect-4x3 {
  padding-bottom: 75%;
}
